<a href="https://colab.research.google.com/github/mskern77/masteryprojectTravelTide/blob/main/Travel_ML_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/sample_data/Travel_Projekt.csv')
df.head()

,trip_id,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,...,destination_airport,seats,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd
0,538279-1b5ca1ab69214ccc9cf5dd5e85470dab,538279,1975-01-17,O,False,False,usa,dallas,DAL,32.847,...,JFK,4.0,True,2023-07-24 14:00:00,2023-07-28 14:00:00,0.0,Air France,40.64,-73.779,1660.01
1,NaN,181157,1970-08-10,F,True,False,usa,houston,HOU,29.645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,228195,1997-02-26,F,False,True,usa,los angeles,LAX,33.942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,489096,1985-06-12,F,False,False,usa,los angeles,LAX,33.942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,514132,1986-07-18,F,False,True,usa,san antonio,RND,29.529,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(49211, 42)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49211 entries, 0 to 49210
Data columns (total 42 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_id                  16702 non-null  object
 1   user_id                  49211 non-null  int64
 2   birthdate                49211 non-null  object
 3   gender                   49211 non-null  object
 4   married                  49211 non-null  bool
 5   has_children             49211 non-null  bool
 6   home_country             49211 non-null  object
 7   home_city                49211 non-null  object
 8   home_airport             49211 non-null  object
 9   home_airport_lat         49211 non-null  float64
 10  home_airport_lon         49211 non-null  float64
 11  sign_up_date             49211 non-null  object
 12  count                    49211 non-null  int64
 13  session_id               49211 non-null  object
 14  session_start            49211 non-null  object
 15  session_end              49211 non-null  object
 16  flight_discount          49211 non-null  bool
 17  hotel_discount           49211 non-null  bool
 18  flight_discount_amount   8282 non-null   float64
 19  hotel_discount_amount    6205 non-null   float64
 20  flight_booked            49211 non-null  bool
 21  hotel_booked             49211 non-null  bool
 22  page_clicks              49211 non-null  int64
 23  cancellation             49211 non-null  bool
 24  hotel_name               14726 non-null  object
 25  nights                   14726 non-null  float64
 26  rooms                    14726 non-null  float64
 27  check_in_time            14726 non-null  object
 28  check_out_time           14726 non-null  object
 29  hotel_per_room_usd       14726 non-null  float64
 30  origin_airport           14270 non-null  object
 31  destination              14270 non-null  object
 32  destination_airport      14270 non-null  object
 33  seats                    14270 non-null  float64
 34  return_flight_booked     14270 non-null  object
 35  departure_time           14270 non-null  object
 36  return_time              13652 non-null  object
 37  checked_bags             14270 non-null  float64
 38  trip_airline             14270 non-null  object
 39  destination_airport_lat  14270 non-null  float64
 40  destination_airport_lon  14270 non-null  float64
 41  base_fare_usd            14270 non-null  float64
dtypes: bool(7), float64(12), int64(3), object(20)
memory usage: 13.5+ MB

In [ ]:
# all columns name
df.columns

Index(['trip_id', 'user_id', 'birthdate', 'gender', 'married', 'has_children',
       'home_country', 'home_city', 'home_airport', 'home_airport_lat',
       'home_airport_lon', 'sign_up_date', 'count', 'session_id',
       'session_start', 'session_end', 'flight_discount', 'hotel_discount',
       'flight_discount_amount', 'hotel_discount_amount', 'flight_booked',
       'hotel_booked', 'page_clicks', 'cancellation', 'hotel_name', 'nights',
       'rooms', 'check_in_time', 'check_out_time', 'hotel_per_room_usd',
       'origin_airport', 'destination', 'destination_airport', 'seats',
       'return_flight_booked', 'departure_time', 'return_time', 'checked_bags',
       'trip_airline', 'destination_airport_lat', 'destination_airport_lon',
       'base_fare_usd'],
      dtype='object')

I delete all values in these columns: **trip_id**, **home_airport_lat**, **home_airport_lon**, **seats**, **destination_airport_lat** and **destination_airport_lon** as they are irrelevant (e.g trip_id, amount of seat booked on the flights) or already represented by the other columns (e.g destination_airport represents the destination_airport_lon and destination_airport_lat).

In [ ]:
df_droped=df.drop(['trip_id', 'home_airport_lat', 'home_airport_lon', 'seats', 'destination_airport_lat'], axis=1)
display(df_droped)

,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,sign_up_date,count,...,origin_airport,destination,destination_airport,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lon,base_fare_usd
0,538279,1975-01-17,O,False,False,usa,dallas,DAL,2023-01-18,9,...,DAL,new york,JFK,True,2023-07-24 14:00:00,2023-07-28 14:00:00,0.0,Air France,-73.779,1660.01
1,181157,1970-08-10,F,True,False,usa,houston,HOU,2022-05-15,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,228195,1997-02-26,F,False,True,usa,los angeles,LAX,2022-06-26,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,489096,1985-06-12,F,False,False,usa,los angeles,LAX,2022-12-24,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,514132,1986-07-18,F,False,True,usa,san antonio,RND,2023-01-06,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49206,616491,1974-01-16,F,False,True,usa,nashville,BNA,2023-02-24,8,...,BNA,houston,EFD,True,2023-03-13 14:00:00,2023-03-18 14:00:00,1.0,Delta Air Lines,-95.159,190.42
49207,651675,1969-08-21,F,False,True,usa,tulsa,TUL,2023-03-10,8,...,TUL,new york,JFK,True,2023-03-31 08:00:00,2023-04-02 08:00:00,1.0,United Airlines,-73.779,365.80
49208,526308,1979-08-10,F,True,False,canada,toronto,YYZ,2023-01-12,8,...,YYZ,new york,JFK,True,2023-04-28 14:00:00,2023-05-06 14:00:00,1.0,Air France,-73.779,94.98
49209,509278,1973-10-20,F,True,False,canada,edmonton,YED,2023-01-04,8,...,YED,dallas,DAL,True,2023-11-10 08:00:00,2023-11-19 08:00:00,2.0,Southwest Airlines,-96.852,983.12
49210,557851,1977-07-24,F,True,False,usa,philadelphia,PHL,2023-01-28,8,...,PHL,los angeles,LSQ,True,2023-05-30 13:00:00,2023-06-06 13:00:00,2.0,Delta Air Lines,-118.408,2118.43

In [ ]:
df_droped.dtypes

user_id                      int64
birthdate                   object
gender                      object
married                       bool
has_children                  bool
home_country                object
home_city                   object
home_airport                object
sign_up_date                object
count                        int64
session_id                  object
session_start               object
session_end                 object
flight_discount               bool
hotel_discount                bool
flight_discount_amount     float64
hotel_discount_amount      float64
flight_booked                 bool
hotel_booked                  bool
page_clicks                  int64
cancellation                  bool
hotel_name                  object
nights                     float64
rooms                      float64
check_in_time               object
check_out_time              object
hotel_per_room_usd         float64
origin_airport              object
destination                 object
destination_airport         object
return_flight_booked        object
departure_time              object
return_time                 object
checked_bags               float64
trip_airline                object
destination_airport_lon    float64
base_fare_usd              float64
dtype: object

In [ ]:
df_droped['user_id'].nunique()

5998

The number of Travel Tide's customers are 5998.

In [ ]:
df_droped.isna().sum()

user_id                        0
birthdate                      0
gender                         0
married                        0
has_children                   0
home_country                   0
home_city                      0
home_airport                   0
sign_up_date                   0
count                          0
session_id                     0
session_start                  0
session_end                    0
flight_discount                0
hotel_discount                 0
flight_discount_amount     40929
hotel_discount_amount      43006
flight_booked                  0
hotel_booked                   0
page_clicks                    0
cancellation                   0
hotel_name                 34485
nights                     34485
rooms                      34485
check_in_time              34485
check_out_time             34485
hotel_per_room_usd         34485
origin_airport             34941
destination                34941
destination_airport        34941
return_flight_booked       34941
departure_time             34941
return_time                35559
checked_bags               34941
trip_airline               34941
destination_airport_lon    34941
base_fare_usd              34941
dtype: int64

In [ ]:
fill_values = {
        'flight_discount_amount': 0,
        'hotel_discount_amount': 0,


    }
df_droped = df_droped.fillna(fill_values)

The missing values in columns 'flight_discount_amount' and 'hotel_discount_amount'  are  replaced with 0. It means, this customers didn't get any discount.

In [ ]:
display(df_droped[['hotel_name', 'nights',
       'rooms', 'check_in_time', 'check_out_time', 'hotel_per_room_usd']])

,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
0,Best Western - new york,2.0,4.0,2023-07-24 18:46:41.16,2023-07-27 11:00:00,145.0
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
49206,Rosewood - houston,3.0,1.0,2023-03-13 17:20:27.195,2023-03-17 11:00:00,437.0
49207,Starwood - new york,1.0,1.0,2023-03-31 12:28:41.655,2023-04-02 11:00:00,168.0
49208,Crowne Plaza - new york,6.0,1.0,2023-04-28 16:44:08.655,2023-05-05 11:00:00,61.0
49209,NaN,NaN,NaN,NaN,NaN,NaN
49210,Conrad - los angeles,4.0,3.0,2023-05-30 19:49:13.53,2023-06-04 11:00:00,34.0

In [ ]:
# Select rows where all values are missing
rows_with_all_missing_values = df_droped[df_droped.isnull().all(axis=1)]

# Display the selected rows
display(rows_with_all_missing_values)

Empty DataFrame
Columns: [user_id, birthdate, gender, married, has_children, home_country, home_city, home_airport, sign_up_date, count, session_id, session_start, session_end, flight_discount, hotel_discount, flight_discount_amount, hotel_discount_amount, flight_booked, hotel_booked, page_clicks, cancellation, hotel_name, nights, rooms, check_in_time, check_out_time, hotel_per_room_usd, origin_airport, destination, destination_airport, return_flight_booked, departure_time, return_time, checked_bags, trip_airline, destination_airport_lon, base_fare_usd]
Index: []

[0 rows x 37 columns]